<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand font-weight-bold" href="/urls">TinyApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" style="display: flex; justify-content: space-between;" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/urls">My URLs</a>
        <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
      </div>
      <div>
        <%if (!username) { %>
          <div class="navbar-nav">
          <a class="nav-item nav-link" href="/urls/register">Register</a>
          <a class="nav-item nav-link" href="/urls/login">Login</a>
        </div>
        <% } else { %>
          <form class="form-inline" action="/logout" method="POST">
            <div class="nav" style="height: 23px">
             <p class="text-right mr-2" style="width: 300px"> Logged in As: <%= username.email %> </p>
            </div>
               <div class="form-group">
                  <button type="submit" class="btn btn-outline-dark ">Logout</button>
               </div>
             </form>
        <% } %> 
      </div>
    </div>
  </nav>
</header>
